
<h3> Influencer profile edit </h3>

<div class="row">

  <%= form_for @influencer, html: {class: 'form-horizontal'} do |form| %>

    <%= render partial: '/influencers/form', object: form %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= form.submit 'Save Changes' %>
      </div>
    </div>

  <% end %>

</div>
