<div class="reward-bg">
  <div class="text-container">
    <h1> Congratulation! </h1>
    <h2> You have reached a milestone! </h2>
    <div class="link-size">
    <button type="button", class="btn btn-primary" >Claim Reward</button>
    </div>
  </div>
</div>
