
<h3> This is Index page og Reward </h3>

<% @reward.each do |u| %>

<tr>
  <td>Target     : <%= u.target %></br></td>
  <td>Description: <%= u.description%></br></td>
  <td>Post Date  : <%= u.post_date%></br></td>
  <td>DeadLine   : <%= u.deadline%></br></td>
  <p>================<p>
</tr>
<% end %>
