
  <div class="campaign">
    <% @campaign.image.each do |photo| %>
      <div class="campaign">
        <%= link_to (image_tag photo.url(:thumb)), brand_campaign_path(brand_id: current_user.brand.id, id: @campaign.id) %>
      </div>
    <% end %>
  </div>

  <p>Product name <%=  @campaign.product_name %></p>
  <p>Hash Tag <strong>#<%=  @campaign.tag %></strong></p>
  <p> <%= link_to 'See Details', brand_campaign_path(brand_id: current_user.brand.id, id: @campaign.id) %> </p>
