
<h2>User Instagram recent media</h2>

<% if current_user.identities.where(provider: 'instagram').count > 0 %>

  <% for media_item in @client.user_recent_media %>
      <div style='float:left;'>
        <img src='<%= media_item.images.low_resolution.url %>'>
        <br/>
        <a href='/media_like/<%= media_item.id %>'>Like</a>
        <a href='/media_unlike/<%= media_item.id %>'>Un-Like</a>
        <br/>
        Likes: <%= media_item.likes[:count] %>
      </div>
  <% end %>

<% end %>
