<head>
<div class="img-container">
</div>
</head>

<body>
  <div class="about-container">
    <div class="about-text" >
      <p> What we do? </p>
    </div>
      <div>
        <i class="fa fa-gift" aria-hidden="true"></i>
      </div>
      <div>
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </div>
      <div>
        <i class="fa fa-money" aria-hidden="true"></i>
      </div>
      <div class="reward-text">
        <p> - Influencer to be rewarded when achieve a milestone. - </p>
      </div>
      <div class="money-text">
        <p> - Keeping your budget as low as possible. - </p>
      </div>
      <div class="rocket-text">
        <p> - Grow together as one. - </p>
      </div>
  </div>


  <div class="model1-container">

  </div>
  <div class="second-container">
    <div class="text-box1">
      <div class="head-text">
      <p> <'Insert Name Here'> </p>
    </div>
      <div class="sub-text">
        <br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </br>
      </div>
    </div>
  </div>
  <div class="model2-container">

  </div>
<div class="third-container">
    <div class="text-box2">
      <div class="head-text">
      <p> <'Insert Name Here'> </p>
    </div>
      <div class="sub-text">
        <br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </br>
      </div>
    </div>
    </div>
</div>
  <div class="whatwedo-container">
  </div>

  <div class="aboutus-container">
    <div class="about-text">
    <p> Our Team: </p>

  </div>
  <div class="about-description">
    <br> - We have face many difficulties while building this app, but we are glad that it is finally up and can able to help start-up and influencer to grow further together. - <br>
  </div>
  </div>
