<!DOCTYPE html>
<html>
<body class="body">

<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
    	<div class="panel-body">
			  <%= form_for :role, url: "/users/roles" do |form| %>
			    <%= render partial: '/roles/form', object: form %>

			    <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">
			        <%= form.submit 'Submit', class: "btn btn-primary" %>
			      </div>
			    </div>
			  <% end %>
			</div>
		</div>
	</div>
</div>


</body>
</html>


