<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is Joiint</h2>
                <hr class="light">
                <p class="text-faded">The Social Marketing Platform that connects your brand with instagram influencers.
                </p>
                <p class="text-faded"> We have face many difficulties while building this app, but we are glad that it is finally up and we are able to help brands and influencers to grow together.</p>
            </div>
        </div>
    </div>
</section>
