<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Learn what Joiint Can Do For You</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Take the Tour</a>
        </div>
    </div>
</aside>
