<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Joiint</h1>
            <hr>

            <h2>Connecting Brands and Influencers</h2>
            <h2>
                Market Your Brand Through Instagram Influencers
            </h2>
            <br>
            <%= link_to user_instagram_omniauth_authorize_path, class: "btn btn-primary btn-xl page-scroll"  do %>
	  <i class="fa fa-instagram"></i>  Sign in with Instagram <% end %>
        </div>
    </div>
</header>
