<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Connecting Brands and Influencers</h1>
            <hr>
            <h2>
                Your one stop solution for Your Brand with Our Influencer
            </h2>
            <br>
            <%= link_to "Sign in via Instagram", user_instagram_omniauth_authorize_path, class: "btn btn-primary btn-xl page-scroll" %>
        </div>
    </div>
</header>
