
<h2 class="text-center">Campaign Progress</h2>
<%= render partial: '/shared/campaign_details_again', object: @campaign %>

<%= render partial: '/shared/rewards_details', object: @campaign %>

<% if @found_post.present? %>
  <%= render partial: '/shared/instagram_post', object: @found_post %>
<% end %>
