// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-group_pull-left {
  float: right;
}

.right-caption {
  float: right;
  width: 50%;
}

.left-caption {
  float: left;
  width: 50%;
  margin-left: 0;
  margin-bottom: 50px;
}

.influencer-container {
  margin-top: 100px;
}

.col-md-12 {

}

.about_product {
  height: 300px;
}

.description {
  margin-top: 100px;
}
