// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rewards_body {
	background-image: url("http://www.wns.com/Portals/0/Images/HeaderBanner/desktop/663/13/01_AWARD_HEADER_1980x1080.jpg");
	background-repeat: no-repeat;
}

.rewards {
	margin: 0 auto;
	margin-top: 100px;
	width: 400px;
	font-size: 15px;
	z-index: 1;
	background: rgba(255,255,255,0.7);
}

.reward-bg {
	margin-top: -200px;
	margin-left: -140px;
	background-repeat: no-repeat;
	width: 1500px;
	height: 1000px;
	background-image: url("springlake.jpg");
}

.text-container {
	font-size: 300px;
	color: white;
	position: relative;
	top: 300px;
	text-align: center;
}

.link-size {
	font-size: 50px;
}
