 <h3>This is Your Edit Page</h3>

 <%= form_for @brand, html: {class: 'form-horizontal'} do |form| %>
 
<%= render partial: '/brands/form', object: form %>



<div calss="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= form.submit %>
  </div>
</div>

  <% end %>

  
